@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit:"Outfit";
  --color-primary:#D14699;
  --color-secondary:#694DA1;
  --color-third:#a058a2;
}

